.section {
    width: 100vw;
    /* max-width: 800px; */
    /* margin: 20px 0; */
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    background-color: #f9f9f9;
    min-height: 100vh; /* Ensure each section has a minimum height */
  }