.section {
    width: 100vw;
    /* overflow-y: auto; */
    overflow-x: auto;
    /* display: grid; Use CSS Grid */
    /* grid-template-columns: repeat(auto-fill, minmax(550px, 2fr)); Define the number of columns */
    /* gap: 16px; Add some space between the items */
    padding: 16px; /* Add some padding around the grid */
    border-radius: 8px;
    background-color: #f9f9f9;
    min-height: 100vh; /* Ensure each section has a minimum height */
  }